.botao-verde button{
    @include measures($buttonTop,$buttonWidth,$buttonLeft,$buttonHeight,0,0);
    @include posição;
    @extend %button-font;
    @include background($botaoVerdeBackground);
    @include textColor($botaoVerdeTextColor);
    &:hover{
        background: $botaoVerdeHover;
    }
    &:active{
        background: $botaoVerdeActive;
    }
}

.botao-amarelo button{
    @include measures($buttonTop,$buttonWidth,$buttonLeft,$buttonHeight,0,0);
    @include posição;
    @extend %button-font;
    @include background($botaoAmareloBackground);
    @include textColor($botaoAmareloTextColor);
    &:hover{
        background: $botaoAmareloHover;
    }
    &:active{
        background: $botaoAmareloActive;
    }
}

.botao-verde button svg, .botao-amarelo button svg{
    @include measures($svgTop, $svgWidth, $svgLeft, $svgHeight, $svgBottom, $svgRight);
    @include posição;
}