$buttonTop: 547px;
$buttonWidth: 311px;
$buttonHeight: 56px;
$buttonLeft: 39px;

$inputHeight: 16px;
$inputWidth: 111px;
$inputLeft: 109px;
$inputTop: 447px;

$svgHeight: 16px;
$svgWidth: 14.78787899017334px;
$svgLeft: 90%;
$svgRight: -90%;
$svgTop: 35%;
$svgBottom: 0%;

$botaoVerdeTextColor: #FFFFFF;
$botaoVerdeBackground: #026C00;
$botaoVerdeHover: #079504;
$botaoVerdeActive: #013C00;

$botaoAmareloTextColor: #000000;
$botaoAmareloBackground: #F7C346;
$botaoAmareloHover: #FFDF77;
$botaoAmareloActive: #DCAC0D;